In [107]:
#import relevant libraries
from bs4 import BeautifulSoup #parsing html
import requests #working with urls
import pandas as pd #working with datasets

In [108]:
def get_options(soup, tag):
    """
    this function goes through the parsed soup of transtats website
    searches for the specified tag
    returns a list of elements of the tag
    used to obtain list of carriers and airports
    """
    options = []
    get_list = soup.find(id=tag)
    for option in get_list.find_all('option'):
        options.append(option['value'])
    return options

In [109]:
def print_list(label, codes):
    """
    prints label of list and elements of list
    useful for viewing elements of a list
    """
    print("\n%s:" % label)
    for code in codes:
        print(code)

In [110]:
def extract_data(soup):
    """
    this helper function gets 2 of the required elements for making requests to the transtats website for
    carrier-airport combinations.
    """
    data = {"eventvalidation": "",
            "viewstate": ""}
    vs = soup.find(id="__VIEWSTATE")
    viewstate = vs["value"]
    ev = soup.find(id="__EVENTVALIDATION")
    eventvalidation = ev['value']

    return viewstate, eventvalidation

In [111]:
def make_request(carrier, airport):
    """
    request html containing data for specified carrier-airport combination from transtats website
    some elements required for making request are hard-coded, others are given as inputs
    writes the obtained data to a html file
    data obtained from this function will still require further parsing to obtain the required table of information
    """
    viewstate, eventvalidation = extract_data(soup)
    url = "https://www.transtats.bts.gov/Data_Elements.aspx?Data=2"
    request_elements = (('__EVENTTARGET', ""), 
                        ('__EVENTARGUMENT', ""), 
                        ('__VIEWSTATE', viewstate), 
                        ('__VIEWSTATEGENERATOR', "8E3A4798"), 
                        ('__EVENTVALIDATION', eventvalidation), 
                        ('CarrierList', carrier), 
                        ('AirportList', airport), 
                        ('Submit', "Submit"))

    r = s.post(url, request_elements)
    filename = carrier+"-"+airport+".html"
    with open(filename, "w") as f:
        f.write(r.text)
    return filename

In [112]:
def get_table(html_file):
    """
    from html containing data for specified carrier-airport combination, this function extracts the core data (table)
    writes the contents of the table (monthly flight volumes) into python dictionaries and returns a pandas datadrame
    of the data.
    """

    with open(html_file, "r") as html:
        soup = BeautifulSoup(html, "lxml")
        
    data = []

    table = soup.find(id = 'DataGrid1')
    for entry in table.find_all('tr'):
        details = []
        for cell in entry.find_all('td'):
            details.append(cell.get_text().replace(',',''))
        info = {}        
        if details[1].upper() != 'TOTAL' and details[1].upper() != 'MONTH':
            info["courier"], info["airport"] = html_file[:-5].split("-")
            info["year"] = int(details[0])
            info["month"] = int(details[1])
            info["domestic"] = int(details[2])
            info["international"] = int(details[3])
            data.append(info)
    df = pd.DataFrame(data)
    return df

In [113]:
s = requests.Session()

#get transtats html from url
r = s.get('https://www.transtats.bts.gov/Data_Elements.aspx?Data=2')
#parse html text
soup = BeautifulSoup(r.text, "lxml")

#get list of carriers and airports using the get_options function
carrier_codes = get_options(soup, 'CarrierList')
airport_codes = get_options(soup, 'AirportList')

#print_list("Carriers", carrier_codes)
#print_list("Airports", airport_codes)

html_file = make_request(carrier_codes[0], airport_codes[0])
get_table(html_file)

    airport courier  domestic  international  month  year
0       All     All    815489          92565     10  2002
1       All     All    766775          91342     11  2002
2       All     All    782175          96881     12  2002
3       All     All    785651          98053      1  2003
4       All     All    690750          85965      2  2003
5       All     All    797634          97929      3  2003
6       All     All    766639          89398      4  2003
7       All     All    789857          87671      5  2003
8       All     All    798841          95435      6  2003
9       All     All    832075         102795      7  2003
10      All     All    831185         102145      8  2003
11      All     All    782264          90681      9  2003
12      All     All    818777          91820     10  2003
13      All     All    766266          91004     11  2003
14      All     All    798879          97094     12  2003
15      All     All    787719          98671      1  2004
16      All     All    762038          92915      2  2004
17      All     All    834912         101541      3  2004
18      All     All    818293         100027      4  2004
19      All     All    833861         102602      5  2004
20      All     All    837451         104769      6  2004
21      All     All    871526         113956      7  2004
22      All     All    883458         112497      8  2004
23      All     All    819715          96493      9  2004
24      All     All    861739          97757     10  2004
25      All     All    820586          96169     11  2004
26      All     All    836749         103282     12  2004
27      All     All    807817         104435      1  2005
28      All     All    761366          94597      2  2005
29      All     All    867055         108324      3  2005
..      ...     ...       ...            ...    ...   ...
145     All     All    649019         110523     11  2014
146     All     All    666401         121656     12  2014
147     All     All    634868         120629      1  2015
148     All     All    570076         107407      2  2015
149     All     All    684009         124658      3  2015
150     All     All    669870         122749      4  2015
151     All     All    690229         125341      5  2015
152     All     All    697511         127980      6  2015
153     All     All    732894         137374      7  2015
154     All     All    724134         134508      8  2015
155     All     All    658506         115656      9  2015
156     All     All    687829         117640     10  2015
157     All     All    651293         112599     11  2015
158     All     All    659939         125812     12  2015
159     All     All    636891         124547      1  2016
160     All     All    612253         115833      2  2016
161     All     All    697950         129858      3  2016
162     All     All    675684         125563      4  2016
163     All     All    702400         129532      5  2016
164     All     All    712818         134102      6  2016
165     All     All    730227         141554      7  2016
166     All     All    731337         137972      8  2016
167     All     All    672465         120938      9  2016
168     All     All    687972         121745     10  2016
169     All     All    657984         115950     11  2016
170     All     All    662013         131692     12  2016
171     All     All    645111         130475      1  2017
172     All     All    591980         115773      2  2017
173     All     All    697509         133546      3  2017
174     All     All    673293         132078      4  2017

[175 rows x 6 columns]